! Configuration File for keepalived
global_defs {
  router_id LVS_DEVEL
script_user root
  enable_script_security
}
vrrp_script chk_heart {
  script "/etc/keepalived/heart_check.sh"
  interval 5
  weight -5
  fall 2
  rise 1
}
vrrp_instance VI_1 {
    state MASTER
    interface {{ kubernetes['keepalived-vip-interface'] }}
    mcast_src_ip {{ ansible_ssh_host }}
    virtual_router_id 51
    priority 100
    advert_int 2
    authentication {
      auth_type PASS
      auth_pass KEEPALIVE_AUTH
    }
    virtual_ipaddress {
      {{ kubernetes['keepalived-vip'] }}
    }
}